<!-- views/download.ejs -->

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Resume Builder</title>
</head>
<body>
  <h1>Resume Download</h1>

  <% if (error) { %>
    <p>Error generating the resume. Please try again.</p>
  <% } else if (generatedResumePath) { %>
    <p>Resume generated successfully! Download your resume:</p>
    <a href="/resume/download">Download Resume</a>
  <% } else { %>
    <p>Generating the resume...</p>
  <% } %>
</body>
</html> -->
