body {
    font-family: Arial, sans-serif;
    margin: 0;
}
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.file-upload {
    background-color: #f1f1f1;
    color: #555;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.file-upload input[type="file"]+span {
    margin-left: 5px;
}

button[type="button"],
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}

#skillsContainer,
#educationContainer,
#experienceContainer,
#achievementsContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Carousel Styles */
.navbar {
    position: fixed;
    top: 0;
    background-color: black;
    /*z-index: 100;*/
}
form{
    position: relative;
    top: 60px;

}
.carousel {
    position: sticky;
    top: 56px; /* Adjust the value to match the height of your navbar */
    height: 80vh;/* Adjust the value to account for navbar height */
    background-color: transparent; 
    border: none; 
}

.highlight {
    /* Define the styles to highlight the carousel text */
    /* For example, you can change the background color and text color */
    background-color: yellow;
    color: black;
}

.carousel-inner img {
    object-fit: contain;
    max-width: 100%;
    max-height: 80vh; /* Adjust the percentage to your desired height */
    width: auto;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-.78.78 2.47 2.47H0v1h6.94L4.47 7.22 5.25 8l3-3L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0L1.28.78 4.75 4.25H8v1H1.06L3.53 7.22 2.75 8l-3-3L2.75 0z'/%3e%3c/svg%3e");
}

.carousel-caption {
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

@media (max-width: 767px) {
    .carousel {
    position: relative;
    top: initial;
    }
}